<div class="content">
<div class="mv">
  <p>
    <storong>ようこそ！</storong><br>
    KATAKASUは、<br>
    様々なお菓子の型をレンタル出来るサイトです。<br>
    イベントの時だけ使うもよし<br>
    購入前にお試しするのもよし<br>
    お気に入りの型との出会いを楽しんでください！<br>
    <br>
    尚、商品をレンタルされる場合は<br>
    <%=link_to "新規登録",new_customer_registration_path %>または、<%=link_to "ログイン", new_customer_session_path%>の必要がございます。
  </p>
</div>