<div>
  <%= form_with model: request, ulr: requests_path, local: true do |f| %>
    <%= f.text_area :request,class: 'form-control' ,placeholder: "リクエスト入力欄" %><br>
    <%= f.submit "送信" %>
  <% end %>
</div>