<div class="content">
    <div class="thanks">
      <p>
        ご注文ありがとうございました！<br>
        お菓子作りの時間をお楽しみください<br>
        <%=link_to "TOPへ戻る",root_path, class: "btn btn-outline-light" %>
      </p>
    </div>
</div>